[submodule "application/include/googletest"]
	path = application/include/googletest
	url = https://github.com/google/googletest
[submodule "application/include/graphviz"]
	path = application/include/graphviz
	url = https://gitlab.com/graphviz/graphviz.git
